<div class="main">
  <form novalidate [formGroup]="myForm">
    <div class="wrapper">
      <div class="wrapper_item">
        <label for="firstName">Firstname:</label>
        <input
          showError
          type="text"
          formControlName="firstName"
          id="firstName"
          name="firstName"
        />
      </div>
      <div class="wrapper_item">
        <label for="lastName">LastName:</label>
        <input
          showError
          type="text"
          formControlName="lastName"
          id="lastName"
          name="lastName"
        />
      </div>
      <div class="wrapper_item">
        <label for="email">Email:</label>
        <input
          showError
          type="email"
          formControlName="email"
          id="email"
          name="email"
        />
      </div>
      <div class="wrapper_item">
        <label for="phones">Phone:</label>
        <div class="wrapper_phone">
          <div
            class="inputDiv"
            *ngFor="let phone of phonesArray.controls; let i = index"
            formArrayName="phones"
          >
            <input
              showError
              type="text"
              [formControl]="phone"
              id="phones"
              name="phones"
            />
            <span (click)="removePhoneNumber(i)"></span>
          </div>
        </div>
        <button type="button" (click)="addPhone()">Add Phone</button>
      </div>
      <div class="wrapper_item">
        <label for="address">Address:</label>
        <div class="wrapper_address">
          <div
            class="inputDiv"
            *ngFor="let addr of addressArray.controls; let i = index"
            formArrayName="address"
          >
            <input
              showError
              type="text"
              [formControl]="addr"
              id="address"
              name="address"
            />
            <span (click)="removeAddress(i)"></span>
          </div>
        </div>
        <button type="button" (click)="addAddress()">Add Address</button>
      </div>
      <div class="wrapper_item">
        <label for="birthday">Birthday:</label>
        <input
          showError
          type="date"
          lang="fr-CA"
          formControlName="birthday"
          id="birthday"
        />
      </div>
      <div class="passwords" formGroupName="passwords">
        <div class="wrapper_item">
          <label for="pass">Password:</label>
          <input 
            showError 
            type="password" 
            formControlName="pass" 
            id="pass"
            (input)="onPasswordChange()" 
          />
        </div>
        <div class="wrapper_item">
          <label for="confirmPass">Confirm Password:</label>
          <input
            showError
            type="password"
            formControlName="confirmPass"
            id="confirmPass"
          />
        </div>
      </div>

      <div class="wrapper_item_button">
        <button type="button" (click)="setUserInfo($event)">Set Info</button>
      </div>
      <div class="wrapper_item_button">
        <button type="button" (click)="getUserInfo()">Get Info</button>
      </div>
    </div>
  </form>
</div>

<!-- <router-outlet></router-outlet> -->
